@using EntityLayer.Concrete
@model List<About>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Veri Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>Başlık @item.AboutID</td>
            <td><a href="/About/AboutActive/@item.AboutID" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="/About/AboutPassive/@item.AboutID" class="btn btn-danger">Pasif Yap</a></td>
            <td>@item.AboutStatus</td>
        </tr>
    }



</table>


@Html.Action("AboutPartial","About")